@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*
    DEMO STYLE
*/
@font-face {
  font-family: 'bogart';
  src: url('image_after/font/Bogart-Regular-trial.ttf')
}
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(0,0,0,.02);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(0,0,0,.02);
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    color: rgba(0,0,0,.7);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 3;
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
  color: rgba(0,0,0,.3) !important;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  transition: all .3s ease;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 0 15px;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1500px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 300px);
    }
    #sidebarCollapse span {
        display: none;
    }
    #title{
      margin-top: 50px;
    }
    .text{
      line-height: 1.5;
      max-width: 100%;
      left: 0;
    }
    .image{
      float: none;
      margin-bottom: 50px;
      border-radius: 30px;
      transform: rotate(-90deg);
      margin-right: 50px;
      margin-top: 80px;
      margin-left: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .photo{
      margin-left: 10px 30%;
    }
    .container_top p,h1{
      margin-left: 20%;
    }
}

/* ---------------------------------------------------
    New design
----------------------------------------------------- */

.psl_image{

  display: block;
  width: 160px;
  height: 160px;
  margin : 10% auto;
}

.name{

  margin : 1% auto;
  line-height: 2;
  color: rgba(0,0,0,.8);
  font-weight: 700;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;

}

.top_mar{
  font-family: 'Poppins', sans-serif;
  margin-top: 50%;
  margin-bottom:10%;
  color: rgba(0,0,0,.7);
  font-size: 1rem;
  font-weight: 500;
}
#sidebar .form-control{
  width: 220px;
  margin: 2% 11%;
  text-align: center;
}

.image{
  float: left;
  border-radius: 30px;
  transform: rotate(-90deg);
  margin-right: 50px;
  margin-top: 80px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text{
  padding: 5%;
  line-height: 1.5;
  max-width: 100%;
  margin: 0 2em;
}

#title{
  font-size: 30px;
  color: #232320;
  line-height: 130%;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: 'bogart','Poppins', sans-serif;
}
.brief{

  margin: 20px;
  font-family: 'bogart','Montserrat', sans-serif;
  text-align: center;

}
.text p {
  margin: 1em 0 0;
  color: #656270;
  font-size: 18px;
  line-height: 32px;
  font-family: 'Montserrat', sans-serif;
}
.information{
  margin: 5% 7%;
}

.c-timecard{

  padding: 10px;
  margin: 4% 7%;
  background: linear-gradient(180deg,#fefaf6 2.42%,#fdf5ee);
  border-radius: 10px;
}

.c-gant{
  display: block;
  position: relative;
  padding: 40px;
  width: 80%;
  margin: 40px 10%;
  border-radius: 20px;
  background: #aadcda;
}
.c-gant2{
  display: block;
  position: relative;
  padding: 40px;
  margin: 40px 10%;
  width: 80%;
  border-radius: 20px;
  background: #d4dbf9;
}
.c-gant3{
  position: relative;
  display: block;
  padding: 40px;
  margin: 40px 10%;
  width: 80%;
  border-radius: 20px;
  background: #ffeec4;
}
.c-gant4{
  position: relative;
  display: block;
  padding: 40px;
  margin: 40px 10%;
  width: 80%;
  border-radius: 20px;
  background: #dacdff;
}
.c-gant__tenure{
  position: absolute;
  right: 10px;
  top: 1px;
  color: rgba(255, 255, 255, 0.8) !important;
}

.Footer{
  width: 100%;
  background: #242423;
  margin-top: 5%;
  }
.footer_title{
  color: #fff;
  margin: 40px 50px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.questions ul li {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5) !important;
}

.numbers{
  position: absolute;
  right: 10px;
  top: 5px;
  color: rgba(255, 255, 255, 0.8) !important;
}

.Blogs li , .project li  {
  background: #242423;
  color: rgba(255, 255, 255, 0.5) !important;
  margin-left: 30px;
}

.questions , .Blogs , .project{
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 13px;
  line-height: 1.8;
  font-weight: 500;
}

.icon{
  color: #fff;
}
.P_Copyright{

  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding:  15px;

}

/* ---------------------------------------------------
    Contact page design
----------------------------------------------------- */
.content_nav{
  background: #ccb78f !important;
}
.container_top{
  padding: 40px;
  background: #ccb78f !important;
}
.container_top p,h1{
  margin-left: 40%;
  font-family: "Poppins",Arial,sans-serif;
}
.container_top h1{
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 2.5rem;
}
.up_span{
  margin-left: 10px;
  color: #000;
}
.contact_info h2{
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  font-weight: 400;
  font-family: "Poppins",Arial,sans-serif;
  margin-top: 50px;
  margin-bottom:  30px;
  text-align:left;
  margin-left: 50px;
}
.contact_info_blog h2 {
  line-height: 1.5;
  color: rgba(0,0,0,.8);
  font-weight: 400;
  font-family: "Poppins",Arial,sans-serif;
  margin-top: 50px;
  margin-bottom:  30px;
  text-align:center;
  margin-left: 50px;

}

#features{
  padding: 5% 10%;
  text-align: center;

}
.features-box{
  text-align: center;
  margin-right: 5%;
  margin-top: 5%;
}

#direct_contact{
  width: 100%;
  padding: 5% 10%;
  text-align: center;

}

.features-box-contact{
  min-width: 45%;
  background: #f8f9fa !important;
  min-height: 500px;
  padding: 5% 5%;
  margin-right: 5%;
}

.features-box-contact .form-control {
  width: 100%;
}

.features-box-map{
  text-align:center;
  background: #f8f9fa !important;
  min-width: 45%;
  padding: 4% 4%;
}

.icon{
  margin-bottom: 1rem;
  color: #ccb78f;
}

.sub{
  margin-top: 2%;
  background: #ccb78f;
  border: 1px solid #ccb78f;
  color: #fff;
  border-radius: 30px;
  box-shadow: none !important;
}
